{% extends 'reminders/base.html' %}

{% block title %}
    <title>Список напоминаний</title>
{% endblock %}

{% block content %}

    <div style="margin-bottom: 15px; font-size: 24px">
        <a href="{% url 'reminder-create' %}" class="text-decoration-none">Добавить напоминание</a>
    </div>

    {% if object_list %}
        <p> Напоминания: </p>
        <div>
        {% for rem in object_list %}
            <p> {{ rem.title }} {{ rem.scheduled_for }}</p>
        {% endfor %}
        </div>
    {% else %}
        <p> Ты думал здесь что-то будет? </p>
    {% endif %}
{% endblock %}